:root {
    --white: #FFF;
    --whitesmoke: #F9F9F9;
    --light-grey: #ECECEC;
    --grey: #C4C4C4;
    --medium-grey: #A7A7A7;
    --black: #000000;
}

main {
    padding: 100px 0px;
    display: flex;
    flex-direction: row-reverse;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
}

.cadastro {
    border: 1px solid #878787;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 500px;
    min-height: 50vh;
    padding: clamp(35px, 8%, 70px);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
    padding: 24px;
}

.linha1{
    display: flex;
    width: 100%;
    gap: 15px;
}

.linha2{
    display: flex;
    gap: 10px;
    width: 100%;
}

.linha3{
    display: flex;
    gap: 10px;
}

.linha4{
    display: flex;
    gap: 10px;
}


.linha5{
    display: flex;
    gap: 10px;
}

.wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.cadastro__logo {
    width: 224px;
    height: 67px;
    margin-bottom: 80px;
}

.text_inicial{
    margin-bottom: 2.5rem;
}

.cadastro__title {
    color: black;
    font-size: 2em;
    margin-bottom: 10px;
}

.text1{
    font-size: 17.2px;
}

.p{
    font-size: xx-large;
}


.cadastro__icons {
    display: flex;
    gap: 10px;
    width: 100%;
    margin-top: 20px;
}

.cadastro__icons img {
    width: 50px;
}

.icons__button {
    width: 33.33%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}


.box_form--checkbox {
    width: 100%;
    margin: 15px 0 50px;
    font-size: 0.9em;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.cadastro__button {
    width: 480px;
    height: 60px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #109A68;
    color: #FFF;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-bottom: 30px;
    font-size: large;
}

.cadastro__button svg {
    fill: white;
}

.cadastro__button:disabled {
    cursor: auto;
    background-color: white;
    border: 2px solid var(--light-grey);
}

.cadastro__button:disabled svg {
    fill: var(--grey)
}

.cadastro__link {
    font-size: 0.8em;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-weight: bold;
}

.cadastro__link1{
    font-size: 0.8em;
    text-decoration: none;
    color: var(--medium-grey);
    text-transform: uppercase;
    margin-bottom: 5px;
    font-weight: 700;
    cursor: pointer;
}

.wallpaper {
    width: 100%;
    background-size: cover;
    background-position: center;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.logo_safemonitor{
    width: 267.5px;
    height: 80px;
    justify-content: left;
    cursor: pointer;
}

.imagem_decoration{
    width: 800px;
    width: 100%;
    height: 100%px;
}