footer {
    padding: 30px 0px 15px 0px;
}

footer .content {
    justify-content: space-between;
    align-items: center;
}

.endereco {
    color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

footer .icons-contato{
    display: flex;
    gap: 20px;
}

footer .icon{
    color: #0F3324;
    font-size: 20px;
}

footer .logo img{
    width: 200px;
}

.icons-contato i{
    transition: 0.6s;
    cursor: pointer;
}

.icons-contato i:hover{
    transform: translateY(-7px);        
}

.icons-contato i:active {
    transform: translateY(-1px);
}

@media only screen and (min-width: 1200px){
    footer {
        padding: 50px 0px 15px 0px;
    }
    
    footer .content {
        justify-content: space-between;
        align-items: center;
    }
    
    .endereco {
        color: #000;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
    }
    
    footer .icons-contato{
        display: flex;
        gap: 20px;
    }
    
    footer .icon{
        color: #0F3324;
        font-size: 33px;
    }
    
    footer .logo img{
        width: 250px;
    }
}

@media only screen and (max-width: 600px){
    .endereco {
        display: none;
    }
}