input, textarea {
    width: 100%;
    border: 1px solid #878787;
    border-radius: 7px;
    outline: none;
    padding: 17.5px 0 17.5px;
    justify-content: center;
    padding: 10px;
    height: 50px;
}

textarea{
    height: 150px;
}

.box_form {
    display: block;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
}


.box_form label {
    font-size: 0.8em;
    font-weight: 700;
    text-transform: uppercase;
    color: black;
    cursor: text;
    transition: all 200ms ease;
}