ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

.container {
    display: flex;
    margin: auto;
    width: 80%;
}

.content {
    width: 100%;
    display: flex;
}

.titulo {
    color: #1E1E1E;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
}

 p {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}

button {
    padding: 15px 0px 15px 0px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    height: 50px;
    transition: 0.6s;
}

.btt_cadastro {
    width: 120px;
    border-radius: 10px;
    background: #109A68;
    color: #ffff;
    border: none;
    transition: 0.6s;
}

.btt_saiba_mais {
    border-radius: 10px;
    border: 1px solid #0F3324;
    background: #FFF;
    width: 182px;
    height: 55px;
    transition: 0.6s;
    cursor: pointer;
    z-index: 3;
}

.btt_saiba_mais:hover{
    background-color: #0F3324;
    color: white;
    border: solid 1px white;
}

button:hover{
    transform: translateY(-7px);                  
}

button:active {
    transform: translateY(-1px);
}
