@import url("./global.css");
@import url("./nav.css");
@import url("./footer.css");
@import url("./home.css");
@import url("./contato.css");
@import url("./login.css");
@import url("./cadastro.css");
@import url("./homeMobile.css");
@import url("./form.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

